<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YourSHOP</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @font-face {
      font-family: Cutive;
      src: url(/Fonts/Cutive-Regular.ttf);
    }
  </style>
</head>

<body class="font-['Cutive']">
  <nav class="w-full fixed top-0 left-0 px-5 py-3 flex items-center justify-between gap-2 bg-gradient-to-l from-blue-400 via-red-100 via-red-200 to-blue-100">
    <div class="flex items-center gap-2">
      <img class="w-20" src="/images/favicon_io/apple-touch-icon.png" alt="">
      <h3 class="text-xl">YourSHOP</h3>
    </div>
    <% var loggedin = typeof loggedin !== "undefined" ? loggedin : true %>
    <% if (loggedin) { %>
    <div class="flex gap-5">
      <a class="bg-gradient-to-br from-green-200 to-green-500 px-3 py-2 rounded-lg" href="/shop">Shop</a>
      <a class="bg-gradient-to-br from-amber-200 to-amber-500 px-3 py-2 rounded-lg" href="/cart">Cart <i class="text-xl ri-shopping-cart-fill"></i></a>
      <a class="bg-gradient-to-br from-red-200 to-red-500 px-3 py-2 rounded-lg" href="/users/logout">Logout</a>
    </div>
    <% } %>
  </nav>