<%- include('./partials/header') %>

<% if(error.length>0){ %>
<div id="error-message" class="absolute top-[14vh] right-2 p-3 rounded-md bg-red-500">
  <span class="inline-block mt-1 mb-1 text-white">
    <%= error %>
  </span>
  <div class="mt-2 h-1 bg-white w-full relative">
    <div id="error-bar" class="absolute top-0 left-0 h-full bg-red-700 w-full"></div>
  </div>
</div>
<% } %>

<div class="w-full h-screen flex flex-col md:flex-row items-center justify-center px-5 md:px-20 py-10 md:py-0">
  <div class="w-full md:w-1/2 flex items-center justify-center mb-10 md:mb-0">
    <div class="w-full max-w-md px-8">
      <h3 class="text-4xl">Welcome to <span class="text-blue-400 font-semibold">YourShop</span></h3>
      <h4 class="text-2xl mb-5">Create your account</h4>
      <form autocomplete="off" action="/users/register" method="post">
        <input class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3" type="text" placeholder="Full Name" name="fullname">
        <input class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3" type="email" placeholder="Email" name="email">
        <input class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3" type="password" placeholder="Password" name="password">
        <input class="px-5 rounded-full py-3 mt-2 bg-blue-500 text-white cursor-pointer hover:bg-blue-600" type="submit" value="Create My Account">
      </form>
    </div>
  </div>
  <div class="w-full md:w-1/2 flex items-center justify-center">
    <div class="w-full max-w-md px-8">
      <h4 class="text-2xl capitalize mb-5">Login to your account</h4>
      <form autocomplete="off" action="/users/login" method="post">
        <input class="block bg-zinc-100 w-full px-3 py-2 border border-zinc-200 rounded-md mb-3" type="email" placeholder="Email" name="email">
        <input class="block bg-zinc-100 w-full px-3 py-2 border border-zinc-200 rounded-md mb-3" type="password" placeholder="Password" name="password">
        <input class="px-5 block rounded-full py-3 mt-2 bg-blue-500 text-white cursor-pointer hover:bg-blue-600" type="submit" value="Login">
      </form>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const errorMessage = document.getElementById('error-message');
    const errorBar = document.getElementById('error-bar');

    if (errorMessage) {
      errorBar.style.transition = 'width 5s linear';
      errorBar.style.width = '0%';
      setTimeout(() => errorMessage.remove(), 5000);
    }
  });
</script>
